
<div id='current_user'>
  <div id='user'>
    <div class='user_pic'><%= @user.photo%></div>
    <h2>User <%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_count %></p>
  </div>

  <div>
    Bio:<p><%= @user.bio %>...</p>
  </div>

  <ul class='posts'>
    <% @posts_list.each do |u| %>
    <div class='post'>
      <h3>Post # <%= u.id %></h3>
      <p> Text:<%= u.text %></p>
      <div>
        Comments: <%= u.comments_count %>
        Likes: <%= u.likes_count %>
      </div>
    </div>
    <% end %>
  </ul>
  
  <div class="btn-container">
    <%= link_to "See all posts", "#{@user.id}/posts", class: "button" %>
  </div>
</div>