
<div id='current_user'>
    <div class='users'>
      <div class='users_pic'></div>
      <div class='users_name'>
        <h2>User <%= @user.name %></h2>
        <p>Number of posts: <%= @user.posts_count %></p>
      </div>
    </div>

  <div class='bio'>
    Bio: <p><%= @user.bio %></p>
  </div>

  <div class='posts'>
    <% @posts_list.each do |u| %>
    <div class='post'>
      <h3>Post # <%= u.id %></h3>
      <p> Text:<%= u.text %></p>
      <div>
        Comments: <%= u.comments_count %>
        Likes: <%= u.likes_count %>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="btn-container">
    <%= link_to "See all posts", "#{@user.id}/posts", class: "button" %>
  </div>
</div>