<div>
  <div class='user'>
    <div class='photo'>Photo:<%= @user.photo%></div>
    <h2>User <%= @user.name%></h2>
    <p>Number of posts: <%= @user.posts_count%></p>
  </div>

  <div>
    <% @posts_list.each do |post| %>
      <ul class='posts'>
        <div class='post'>
          <h3>Post # <%= post.id %></h3>
          <p> Text:<%= post.text %></p>
          <div>
            Comments: <%= post.comments_count %>
            Likes: <%= post.likes_count %>
          </div>
        </div>
        <div>
            <% post.recent_comments.each do |comment| %>
              <p>Username: <%= comment.text %></p>
            <%end%>
        </div>
      </ul>
    <%end%>
  </div>
</div>