<div id='user_posts'>
  <div class='users'>
    <div class='users_pic'></div>
    <div class='users_name'>
      <h2>User <%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_count %></p>
    </div>
  </div>

  <div id='add_new_post'>
    <%= link_to 'Add new post', "/users/#{@user.id}/posts/new"%>
  </div>

  <div class='posts'>
    <% @posts_list.each do |post| %>
    <div class='posts_with_comments'>
      <div class='text'>
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", :action => 'go' do %>
          <h3>Post # <%= post.id %></h3>
        <%end%>
        <p> Text: <%= post.text %></p>
        <div class='comments_likes'>
          Comments: <%= post.comments_count %>
          Likes: <%= post.likes_count %>
        </div>
      </div>

      <div class='comments'>
        <div>
          <% post.recent_comments.each do |comment| %>
            <p>Username: <%= comment.text %></p>
          <%end%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>