<div id='user_post'>
	<div class='content'>
		<div class='top'>
			<h3><%= @post.title %> by <%= @user.name %></h3>
				<div class='comments_and_likes'>
					<p>Comments: <%= @post.comments_count %></p>
					<p>Likes: <%= @post.likes_count %></p>
				</div>
		</div>
		<p><%= @post.text %></p>
	</div>

	<div class='users_comments'>
		<% @post.comments.each do |comment| %>
			<p>Username: <%= comment.text %></p>
		<%end%>
	</div>
</div>